/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 input[type="file"] {
   display: block;
 }
 .imageThumb {
   max-height: 175px;
   border: 2px solid;
   padding: 1px;
   cursor: pointer;
 }
 .pip {
   display: inline-block;
   margin: 10px 10px 0 0;
 }
 .remove, .remove-img-db {
   display: block;
   background: #444;
   border: 1px solid black;
   color: white;
   text-align: center;
   cursor: pointer;
 }
 .remove:hover, .remove-img-db:hover {
   background: white;
   color: black;
 }
 .upload-image {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .file {
    position: relative;
    background: linear-gradient(to right, lightblue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition:all 1s ease;
 }
  .file.done {
    background: lightgreen;
 }
  .file a {
    display: block;
    position: relative;
    padding: 5px;
    color: black;
 }
#img_upload_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 1 !important;
  display: none;
}

#img_upload_overlay span {
  padding: 5px;
  border-radius: 5px;
  /* color: #fff;
  background-color: #000; */
  position: relative;
  top: 50%;
  font-weight: bold;
  /* height: 104px; */
  font-size: 50px;
}
